<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ethan.ceiling">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TwoSameTopBarActivity" android:exported="true" />
        <activity android:name=".ui.activity.ListViewAddHeaderActivity" android:exported="true"/>
        <activity android:name=".ui.activity.OneTopBarActivity" android:exported="true"/>
        <activity android:name=".ui.activity.MaterialDesignTopBarActivity" android:exported="true"/>
        <activity android:name=".ui.activity.DecorationActivity"  android:exported="true"/>
        <activity android:name=".ui.activity.GroupAndDecorationActivity" android:exported="true" />
        <activity android:name=".ui.activity.CeilingActivity" android:exported="false"/>
        <activity android:name=".ui.activity.ActivityCeilingDouble" android:exported="false"/>
    </application>

</manifest>